*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;

}


  


ul.hover{
  

  display: flex;
  list-style: none;
  align-items: center;
   background-color: brown;
   justify-content: center;
  width: 100%;
  height: 10vh;
  

}

li{
  margin: auto 30px;
  font-size: 10px;
  font-family: sans-serif;
  
 
  float: right;
  align-items: center;
  border-radius: 50px;
  color: white;
}


